<% provide :title, t("supervisor.subject.new_subject") %>
<h1 class="center"><%= t "supervisor.subject.new_subject" %></h1>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "subject_form" %>
  </div>
</div>
